@import 'bootstrap/dist/css/bootstrap.css';
@import 'element-plus/dist/index.css';

@import 'HomeView.scss';
@import "Header.scss";

@import "Projects/Index.scss";
@import "Projects/ProjectCard.scss";
@import "Projects/ProjectForm.scss";

@import "Category/Index.scss";
@import "Category/CategoryCard.scss";
@import "Category/CategoryForm.scss";

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
