a {
    text-decoration: none;
    background-color: transparent;
}

.nav-link {
    font-weight: 500;
    font-size: 15px;
    color: rgb(107 114 128);
}

.nav-link:hover {
    color: rgb(55 65 81);
}

.logo {
    color: blue;
    font-weight: 600;
    font-size: 1.5em;
}
